# Build artifacts
/build/

# Image directories
reddit_image_puller/nsfw_Images/
reddit_image_puller/sfw_Images/

#program files
hotKeyToFolder.py

# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python environment
.Python
*.so
.env
*.spec

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
